/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	margin:0;
	font-size: 100%;
	font-family: 'Raleway', sans-serif;
	background: #fff;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover, a:focus{
 text-decoration:none;
 color: #000000;
}
a{
      color: #f8b239;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'PT Serif', serif;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
  list-style: none;
}
label{
	margin:0;
}
/*--banner-slider--*/
.banner{
background: url(../images/bann.jpg) no-repeat 0px 0px;
background-size:cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
min-height: 790px;
}
/*
.navbar-header h1 {
    margin: 0;
    padding: 0;
    margin-top: 1px;
    font-size: 2em;
	font-family: 'PT Serif', serif;
}
*/
.navbar-default {
    background: none;
    border: none;
    margin: 0;
    min-height: inherit;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #99abd5;
   background:none!important;
}
.navbar-default .navbar-nav > li > a {
	font-size: 13px;
    padding: 22px 30px;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav li a.active {
    color: #f8b239;
    outline: none;
}
.navbar-right {
    float: left!important;
    margin-right:0px!important;
}
.navbar-collapse {
    padding: 0!important;
}
/*-- nav-effect --*/
/* Effect 13: three circles */
.cl-effect-13 ul li a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
.cl-effect-13 ul li a::before {
	position: absolute;
	top:50%;
	left: 50%;
	color: transparent;
	content: '.';
	text-shadow: 0 0 transparent;
	font-size:2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.cl-effect-13 ul li a:hover::before, .cl-effect-13 ul li a:focus::before, ul.nav.navbar-nav li.active a::before {
    color: #fff;
    text-shadow: 10px 0 #fff, -10px 0 #fff;
}
.navbar-default {
    background: rgba(0, 0, 0, 0.72);
    border: none;
    border-radius: 0;
	
}
.navbar-nav,.header-top{
	padding-left:24em;
}
.header-nav {
    position: relative;
}
.cl-effect-13 ul li a:hover::before, .cl-effect-13 ul li a:focus::before, ul.nav.navbar-nav li a.active::before {
    color: #fff;
    text-shadow: 10px 0 #fff, -10px 0 #fff;
}
/*-- //dropdown --*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #f8b239;
    background-color: transparent;
}
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.72);
}
.dropdown-menu > li > a {
    color: #fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #f8b239;
    background-color: transparent;
}
.dropdown-menu li a:before{
	display:none!important;
}
.dropdown-menu > li > a {
    text-transform: uppercase;
    letter-spacing: 1px;
	font-size: 13px;
	padding: 6px 20px;
}
.dropdown-menu {
		border: none;
}
/*-- //dropdown --*/
/*-- //nav-effect --*/
.navbar-default .navbar-brand {
    color: #fff;
    font-size: 40px;
    letter-spacing: 1px;
	display:block;
    text-transform: capitalize;
    /* margin: 13px 10px 0px 25px; */
    background: #f8b239;
    padding: 40px 30px 40px;
    position: absolute;
    top: 0;
    left: 1.8em;
	z-index:99;
  height: 115px;
}
i.fa.fa-graduation-cap {
    position: absolute;
    color: #000000;
    transform: rotate(-29deg);
	-webkit-transform: rotate(-29deg);
	-moz-transform: rotate(-29deg);
	-o-transform: rotate(-29deg);
	-ms-transform: rotate(-29deg);
    font-size: 36px;
    left: 9px;
    top: 29px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: #f8b239;
}
.navbar-brand {
    height: initial;
    padding: 0;
    font-size: 18px;
    line-height: initial;
}
.contact-bnr-w3-agile {
    float: none;
}
.header-top {
    background: rgba(255, 255, 255, 0.22);
}
.contact-bnr-w3-agile ul li {
    list-style: none;
    display: inline-block;
    padding: 14px 30px;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact-bnr-w3-agile ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
	 font-size: 15px;
    letter-spacing: .7px;
}
.contact-bnr-w3-agile ul li a:hover {
	color:#f8b239;
}
.contact-bnr-w3-agile ul li i {
    color: #f8b239;
    font-size: 16px;
    margin-right: 15px;
}
/*-- Slider Part starts Here --*/
#slider3,#slider4,#slider5  {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  /*-- w3layouts --*/
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
/*-- agileits --*/

.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 61%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 62px;
	width: 45px;
	display:none;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}

#slider3-pager a,#slider4-pager a ,#slider5-pager a  {
  display: inline-block;
}
#slider3-pager span,#slider4-pager span,#slider5-pager span{
}
#slider3-pager span,#slider4-pager span,#slider5-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	/*-- w3layouts --*/
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a ,#slider4-pager .rslides_here a,#slider5-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider4-pager a,#slider5-pager a  {
  padding: 0;
}
#slider3-pager li, #slider4-pager li, #slider5-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
}

.callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 82%;
    z-index: 999;
    right: 28%;
    padding: 0;
    margin: 0;
}
ul.callbacks_tabs.callbacks2_tabs {
    top: 120%;
    left: 30%;
}
/*-- agileits --*/
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
 margin-left: 7px;
    display: inline-block;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    border: 4px solid #0177b5;
}
.callbacks_here a:after{
    background: #f8b239;
    border: 1px solid #f8b239;
    height: 3px;
    width: 40px;
    border-radius: 0;
    /* margin: 0 0px; */
}/*
a.callbacks_nav.callbacks1_nav.prev {
    background: transparent url("../images/arrr1.png") no-repeat 0px 2px;
    left: 16%;
    height: 65px;
    width: 65px;
    top: 53%;
}
.callbacks_nav.next {
    background: transparent url("../images/arrr2.png") no-repeat 0px 2px;
    left:80%;
    height: 65px;
    width: 65px;
    top: 53%;
}
a.callbacks_nav.callbacks3_nav.prev {
    background: transparent url("../images/arrow4.png") no-repeat left top;
    height: 62px;
    width: 64px;
    top: 61%;
    left: 0;
}
a.callbacks_nav.callbacks3_nav.next{
    background: transparent url("../images/arrow3.png") no-repeat -1px 0px;
    left: 95%;
    height: 62px;
    width: 64px;
	top:61%;
}*/

/*-- Slider part Ends Here --*/
.banner-text {
    width: 55%;
    margin: 10.3em auto 0;
    padding: 3em;
    float: right;
    text-align: right;
    background: rgba(0, 0, 0, 0.63);
}
.callbacks_nav {
    top: 90%!important;
}
.banner-text h3 {
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 0 auto;
    line-height: 45px;
    font-family: 'Raleway', sans-serif;
}
.banner-text h4 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 0 auto;
}
.banner-text p {
    color: #c2f9c4;
    margin-top: 20px;
    /* background: rgba(0, 0, 0, 0.58); */
    line-height: 29px;
    letter-spacing: 2px;
    font-size: 15px;
}
.more-button a {
    padding: 8px 45px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    outline: none;
    margin-top: 2em;
    background: #f8b239;
    font-size: 15px;
    letter-spacing: .5px;
    text-transform: capitalize;
}
.more-button a:hover {
    background: #0177b5;
}
/*-- //Slider --*/
/*--modal--*/
.modal-content  img{
	width:100%;
}
.modal-content h4 {
    color: #0177b5;
    text-align: center;
    font-size: 26px;
    margin-bottom: .5em;
    text-transform: capitalize;
}
.modal-content h5 {
    color: #f8b239;
    padding: 15px 0;
    font-size: 22px;
    letter-spacing: 1px;
}
.modal-content p {
    color: #636363;
    font-size: 14px;
    line-height: 25px;
    padding-top: 10px;
    letter-spacing: .5px;
}
.modal-header {
    padding: 30px;
}
/*--//modal--*/
/*-- //Banner-Slider --*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    float: left;
}
/*-- main --*/
.events-agileits-w3layouts,.testimonials,.stats-agileits,.about-agileits,.team,.portfolio,.contact-w3ls ,.inner-padding{
	padding: 5em 0em;
}
.heading-agileinfo {
    font-weight: 800;
    letter-spacing: .5px;
    font-size: 35px;
    margin-bottom: 1.9em;
    text-align: center;
    color: #000;
    text-transform: capitalize;
    position: relative;
}
.heading-agileinfo span:after {
    content: '';
    background: #212121;
    height: 2px;
    width: 70px;
    position: absolute;
    top: 132%;
    right: 47%;
}
.heading-agileinfo span {
    display: block;
    font-size: 17px!important;
    margin-top: 1em;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #0177b5;
    font-weight: 500;
}
.white-w3ls{
	color:#fff!important;
}
.black-w3ls{
	color:#000!important;
}
.yellow-w3ls{
	color:#f8b239!important;
}
/*-- //main --*/

/*-- about us --*/
.about-agileits{
	/*text-align:center;*/
}
.agileits_banner_bottom {
    width: 75%;
    margin: 0 auto;
}
.about-agileits p {
    font-size: 17px;
    color: #f8b239;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 600;
}
.about-agileits h3 i{
	font-weight:300;
}
.w3ls_banner_bottom_grids{
	margin:3em 0 0;
}
.w3l_banner_bottom_grid{
	padding:2em;
	text-align:center;
	border:2px solid #999;
}
/*-- grid-effect --*/
/* General grid styles */
.cbp-ig-grid {
	list-style: none;
	padding:0;
	margin: 0;
}

/* Clear floats */
.cbp-ig-grid:before, 
.cbp-ig-grid:after { 
	content: " "; 
	display: table; 
}

.cbp-ig-grid:after { 
	clear: both; 
}

/* grid item */
.cbp-ig-grid li {
	width: 25%;
    float: left;
    text-align: center;
    border-left: 1px solid rgb(161, 225, 249);
}

.cbp-ig-grid li:last-child{
	border-right: 1px solid rgb(161, 225, 249);
}

.w3_grid_effect {
    padding: 2em;
    background: rgba(0, 172, 238, 0.2);
}

/* anchor style */
.cbp-ig-grid li > a {
	display: block;
	height: 100%;
	color: #47a3da;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}

/* the icon with pseudo class for icon font */

.feature .feature-icon{
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    border: 1px solid #EBEBEB;
    color: #FF6700;
    }

.cbp-ig-icon {
	position: absolute;
    left: 0;
    top: 85;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    border: 1px solid #EBEBEB;
    color: #FF6700;
    }

.cbp-ig-icon:before {
	position: absolute;
    left: 0;
    top: 85;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    border: 1px solid #EBEBEB;
    color: #FF6700;
    }

.w3_road:before {
	content: "\f19d";
}

.w3_cube:before {
	content: "\f02d";
}

.w3_users:before {
	content: "\f1e3";
}

.w3_ticket:before {
	content: "\f132";
}

/* title element */
.cbp-ig-grid .cbp-ig-title {
	margin: 20px 0 10px 0;
    padding: 20px 0 0 0;
    font-size: 1em;
    position: relative;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    text-transform: uppercase;
    letter-spacing: 4px;
	color:#212121;
}

.cbp-ig-grid .cbp-ig-title:before {
	content: '';
	position: absolute;
	background:#f8b239;
	width: 160px;
	height: 6px;
	top: 0px;
	left: 50%;
	margin: -10px 0 0 -80px;
	-webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
	-moz-transition: margin-top 0.2s;
	transition: margin-top 0.2s;
}

.cbp-ig-grid .cbp-ig-category {
	text-transform: uppercase;
	display: inline-block;
	font-size: 1em;
	letter-spacing: 1px;
	color: #000;
	-webkit-transform: translateY(10px);
	-moz-transform: -moz-translateY(10px);
	-ms-transform: -ms-translateY(10px);
	transform: translateY(10px);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	-webkit-transition: transform 0.3s, opacity 0.2s;
}

.cbp-ig-grid li:hover .cbp-ig-category,
.touch .cbp-ig-grid li .cbp-ig-category {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

/* Hover styles */

.cbp-ig-grid li > .w3_grid_effect:hover {
    background: #0177b5;
}

.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-icon {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	transform: translateY(-20px);
}

.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-icon:before
 {
	color: #f8b239;
}
.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-title{
	color:#fff;
}

.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-title {
	-webkit-transform: translateY(-45px);
	-moz-transform: translateY(-45px);
	-ms-transform: translateY(-45px);
	transform: translateY(-45px);
}

.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-title:before {
	background: #fff;
	margin-top: 68px;
}


@media screen and (max-width: 62.75em) {
	.cbp-ig-grid li {
		width: 50%;
	}
}

@media screen and (max-width: 25em) { 
	.cbp-ig-grid {
		font-size: 80%;
	}
}
/*-- //about us--*/
/*-- Stats --*/
.stats-agileits {
    background: url(../images/counter.jpg)no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
.stats-info.agileits.w3layouts {
    padding: 2em 0;
    background: rgba(255, 255, 255, 0.14);
}
.stats-grid:nth-child(3),.stats-grid:nth-child(4){
    margin-bottom: 0em!important;
}
.numscroller {
    font-size: 40px;
    margin: 0;
    color: #f8b239;
    text-shadow: 1px 1px rgb(123, 79, 3);
    font-family: 'PT Serif', serif;
    letter-spacing: 5px;
}
.stats-grid h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 1em;
	color:#000;
}
/*-- //Stats --*/
/*--events-section--*/
.events-agileits-w3layouts {
    padding-bottom: 0px!important;
}
.popular-grid {
    background: #0177b5;
    padding: 0;
}
.popular-text {
    /*text-align: center;*/
    border: 1px double rgba(189, 187, 187, 0.61);
    border-top: none;
	background: #fff;
}
.popular-grid:hover img {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.popular-grid img {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    border: 1px solid #fff;
    width: 100%;
}
.popular-grid h5 a {
	display:block;
    font-size: 1.5em;
    font-weight: 500;
    color: #ffffff;
    background: #f8b239;
    padding: 8px;
    margin: 0px 0 25px;
    text-transform: capitalize;
}
.popular-grid h5 a:hover,.popular-grid h5 a:focus{
	text-decoration:none;
}
.detail-bottom ul li {
    list-style: none;
    display: inline;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    font-family: 'PT Serif', serif;
    letter-spacing: 1px;
}
.detail-bottom ul li i {
    color: #0177b5;
    font-size: 20px;
    padding: 0 15px;
}
.popular-grid p {
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 28px;
    padding: 1em 1em 1.5em;
    color: #757575;
}
/*--//Events-section--*/

/*-- projects --*/
.portfolio{
	padding-bottom:0px!important;
}
.portfolio h3.h3-1 {
    font-weight: 600;
    font-size: 40px;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 600px;
}

.portfolio h3.h3-2 {
	font-size: 40px;
	font-weight: 100;
	text-align: left;
	margin-bottom: 50px;
    padding-left: 600px;
}

.filtr-item {
	padding: 0;
	width: 33.3335%;
	float: left;
}

.filtr-container {
    width: 99.9%;
}

.item-desc {
	background-color: rgba(0,0,0,0.5);
	color: white;
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	z-index: 1;
}

.filtr-item {
	transform: scale(1) translate3d(0px, 0px, 0px);
	-o-transform: scale(1) translate3d(0px, 0px, 0px);
	transition: all 0.5s ease-out 0ms;
	-o-transition: all 0.5s ease-out 0ms;
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
}
@media screen and (max-width:991px) {
	.filtr-item {
		float: left;
		width: 33.33%;
	}
}

@media screen and (max-width:768px) {
	.filtr-item {
		float: left;
		width: 50%;
	}
}

@media screen and (max-width:600px) {
	.filtr-item {
		padding: 0em;
	}
}

@media screen and (max-width:414px) {
	
	.filtr-item {
		width: 100%;
	}
}

figure img {
    width: 100%;
}
.portfolio figure {
    margin: 11px;
    padding: 0;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

.portfolio figure:hover figcaption {
	/*-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);*/
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	top: 0;
}

.portfolio figcaption {
	/*-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);*/
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	top: -100%;
	background: rgba(0,0,0,.5);
	color: #fff;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	-ms-transition-delay: .5s;
	transition-delay: .5s;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.portfolio figcaption h3 {
    font-weight: 700;
    font-size: 30px;
    text-align: center!important;
    padding: 9px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.44);
    margin-bottom: 0;
    position: relative;
    margin-top: 50px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
}

.portfolio figure:hover h3 {
	left: 0;
}

.portfolio figcaption a {
	color: #fff;
	border: 2px solid #fff;
	padding: 4px 10px;
	text-decoration: none;
}

.portfolio figcaption a:hover {
	color: #4f5856;
	background: #fff;
}
.portfolio figcaption h3 span {
    color: #f8b239;
    font-size: 34px;
}
.portfolio figcaption p {
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 1em;
    line-height: 30px;
    color: #eee;
}
/*-- //projects --*/
/*--testimonials--*/
#flexiselDemo1 {
	display: none;
}

.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*-- Nav --*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 36px;
    height: 36px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    border: 1px solid #0177b5;
}
.nbs-flexisel-nav-left {
    left: 46.5%;
    top: 109% !important;
    background:#000 url(../images/themes.png) no-repeat 10px 10px;
}
.nbs-flexisel-nav-right {
    right: 46.5%;
    top: 109% !important;
    background:#000 url(../images/themes1.png) no-repeat 11px 11px;
}
.laptop {
    background: #0177b5;
    padding: 2em 2em;
    /* border: 1px solid #f8b239; */
    margin: 0 15px;
}
.team-left{
	padding:0;
}
.team-right p,.colorful-tab-content p,.colorful-tab-content ul li {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.75);
    line-height: 2.2em;
	font-family: 'Raleway', sans-serif;
}
.team-right h5 {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.name-w3ls {
    padding: 13px 30px 19px;
    display: inline-block;
    background: rgba(4, 142, 214, 0.54);
    margin-top: 1em;
}
.name-w3ls span {
    display: block;
    font-size: 13px;
    text-transform: capitalize;
    font-style: italic;
    letter-spacing: .8px;
    color: #00517b;
    margin-top: 10px;
}
.flex-slider {
    margin: 0px auto 59px;
}
.team-left img {
    width: 100%;
    background: rgba(4, 142, 214, 0.54);
    border: 3px solid rgba(2, 98, 148, 0.51);
    padding: 10px;
}
/*--//testimonials--*/
/*--inner pages--*/
	.inner-banner-w3l{
		background: url(../images/inner-bann.jpg) no-repeat 0px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		-moz-background-size: cover;
		min-height: 300px!important;
	}
/*--inner About --*/
.about-top p {
    font-size: 1em;
    color:#777676;
    width: 50%;
    line-height: 1.8em;
    margin: 0 auto;
}
.about-agile {
    background: url(../images/ab1.jpg)no-repeat;
    background-attachment: fixed;
    background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	text-align: center;
}
.about-layer1 {
    padding-bottom: 5em;
}
.about-agile p {
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    margin: 1em auto 0em;
    line-height: 1.8em;
}
.about-bott-right {
    text-align: center;
    padding: 3em 1.7em;
    background: #0177b5;
}
.about-bott-right h5 {
    color: #f8b239;
    font-size: 24px;
    margin-bottom: 0.7em;
    font-weight: bold;
    letter-spacing: 2px;
}
.about-bott-right p {
    font-size: 17px;
    color: #fff;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 600;
}
/*--//inner About --*/
/*-- team --*/
.agile_team_grid h4{
	font-size:1.5em;
	color:#000;
	margin:1em 0 .5em;
/*-- agileits --*/
}
.agile_team_grid p {
    color: #999;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.agile_team_grid {
    text-align: center;
}
.view {
    margin: 0;
    float: none;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view,.view .mask,.view .content{
	width: 255px;
    height: 298px;
}
.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h5 {
	text-transform: capitalize;
    color:#f8b239;
    text-align: center;
    position: relative;
    font-size: 1.7em;
    margin:2.5em 0 .5em;
}
.view p {
    /* font-style: italic; */
    line-height: 1.8em;
    font-size: 15px;
    position: relative;
    color: #fff;
    padding: 0px 20px 20px;
    text-align: center;
}
.view-sixth img {
    -webkit-transition: all 0.4s ease-in-out 0.5s;
    -moz-transition: all 0.4s ease-in-out 0.5s;
    -o-transition: all 0.4s ease-in-out 0.5s;
    -ms-transition: all 0.4s ease-in-out 0.5s;
    transition: all 0.4s ease-in-out 0.5s;
    width: 100%;
}
.view-sixth .mask {
   background-color:rgba(34, 33, 33, 0.54);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-in 0.4s;
   -moz-transition: all 0.3s ease-in 0.4s;
   -o-transition: all 0.3s ease-in 0.4s;
   -ms-transition: all 0.3s ease-in 0.4s;
   transition: all 0.3s ease-in 0.4s;
}
.view-sixth h5 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background: transparent;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.2s;
   -moz-transition: all 0.3s ease-in-out 0.2s;
   -o-transition: all 0.3s ease-in-out 0.2s;
   -ms-transition: all 0.3s ease-in-out 0.2s;
   transition: all 0.3s ease-in-out 0.2s;
}
.agile_team_grid:hover .view-sixth .mask,.view-sixth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.agile_team_grid:hover .view-sixth img,.view-sixth:hover img {
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.agile_team_grid:hover .view-sixth h5,.view-sixth:hover h5 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.agile_team_grid:hover .view-sixth p,.view-sixth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.view-sixth .agileits_social_icons{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.agile_team_grid:hover .view-sixth .agileits_social_icons,.view-sixth:hover .agileits_social_icons{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   -o-transition-delay: 0.3s;
   -ms-transition-delay: 0.3s;
   transition-delay: 0.3s;
}
/*-- //team --*/
/*--inner services --*/
.agileinfo_services_grid1{
	padding:2em;
	border:1px solid #999;
	text-align:center;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.agileinfo_services_grid1:after, .agileinfo_services_grid1:before {
    content: '';
    z-index: 2;
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    -ms-transition: all 800ms ease-in-out;
    -o-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
}
.agileinfo_services_grid1:before {
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #0177b5;
    border-right: 1px solid #0177b5;
}
.agileinfo_services_grid1:after {
    top: 0;
    left: 0;
    border-top: 1px solid #0177b5;
    border-left: 1px solid #0177b5;
}
.agileinfo_services_grid1:hover {
    cursor: default;
	border: 1px solid #fff;
}
.agileinfo_services_grid1:hover:after, .agileinfo_services_grid1:hover:before {
    width: 100%;
    height: 100%;
    visibility: visible;
}
.agileinfo_services_grid1 i {
    font-size: 2.5em;
    color: #f8b239;
    top: 0;
}
.agileinfo_services_grid1:hover i {
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
    text-shadow: 2px 2px #4f565a;
	-webkit-text-shadow: 2px 2px #4f565a;
	-moz-text-shadow: 2px 2px #4f565a;
	-o-text-shadow: 2px 2px #4f565a;
	-ms-text-shadow: 2px 2px #4f565a;
}
.agileinfo_services_grid1 h4{
	text-transform: capitalize;
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 1em 0;
    color:#0177b5;
}
.agileinfo_services_grid1 p{
	color:#999;
	line-height:2em;
}
.agileinfo_services_grid1:hover p{
	color:#000;
	line-height:2em;
}
.agileinfo_services_grid:nth-child(7),.agileinfo_services_grid:nth-child(5),.agileinfo_services_grid:nth-child(6){
	margin:2em 0 0;
}
.services-bottom{
	background:url(../images/5.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:400px;
}
.w3agile_services_bottom_grid{
	text-align:right;
	padding:5.5em 0 2em;
}
.w3agile_services_bottom_grid h3{
	font-size: 1.4em;
    line-height: 1.5em;
    color:#f8b239;
    text-transform: capitalize;
}
.w3agile_services_bottom_grid p{
	color:#fff;
	line-height:2em;
	margin:2em 0;
}
.more a{
	padding:8px 50px;
	border:1px solid #fff;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	font-size:14px;
}
.more a:hover{
	color:#212121;
}
/*--//inner services --*/
/*--inner gallery --*/
.agileits_w3layouts_team_grid {
    position: relative;
    display: block;
    background: #000000;
    overflow: hidden;
}
.agileits_portfolio_sub_grid {
    background: #0accff;
}
.w3_agile_portfolio_grid1{
	margin-top:2em;
	overflow: hidden;
}
.agileinfo_portfolio_grid .w3_agile_portfolio_grid1:nth-child(1) {
    margin-top: 0!important;
}
.agileits_portfolio_sub_grid .w3layouts_port_head {
    content: '';
    z-index: 1;
    position: absolute;
    left: 49%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    filter: alpha(opacity=0);
    margin-top: 100px;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.w3_agile_portfolio_grid1:hover .agileits_w3layouts_team_grid img {
    opacity: 0.8;
}
.w3_agile_portfolio_grid1:hover .agileits_w3layouts_team_grid .w3layouts_port_head {
    opacity: 1;
    filter: alpha(opacity=100);
    margin-top: 0;
}
.w3layouts_port_head h3 {
    font-size: 1em;
    letter-spacing: 2px;
    color: #fff;
    text-transform: capitalize;
    padding: 0.5em 1em;
    background: #f8b239;
}
/*--//inner gallery --*/
/*--contact inner--*/
.contact-page-w3ls iframe {
    width: 100%;
    height: 18em;
    border: none;
	margin-bottom: 2em;
}
.contact-w3-agileits img {
    width: 25%;
    float: left;
    padding: 7px;
    background: #0177b5;
    border: 4px solid rgba(2, 61, 93, 0.52);
}
.contact-w3-agileits {
    margin-bottom: 1.7em;
}
h5.title-w3 {
    font-size: 23px;
    color: #0177b5;
    letter-spacing: 2px;
}
.contact-left-w3layouts {
    float: left;
    width: 35%;
}
.contact-right-w3layouts img {
    width: 25%;
    float: left;
    border: 12px solid #3f3f42;
}
.right-contact-w3ls h6 {
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 3px;
}
p.work-w3 {
    font-size: 13px;
    font-weight: bold;
    color: #1ca0de;
	letter-spacing: .5px;
}
p.number-w3 {
    color: #6b6b6b;
    font-size: 14px;
    display: inline;
}
.right-contact-w3ls span {
    display: inline-block;
    color: #f8b239;
    font-size: 14px;
	margin-right:7px;
}
.right-contact-w3ls {
    float: left;
    width: 60%;
    padding: 5px 0px 0px 26px;
}
.right-contact-w3ls a {
    color: #6b6b6b;
    font-size: 15px;
    text-decoration: none;
	margin-left:7px;
	 transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.right-contact-w3ls a:hover {
	text-decoration: none;
    color: #0177b5;
	 transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.span-sub-w3ls {
    margin-top: 7px;
}
.contact-right-w3layouts input[type="text"], .contact-right-w3layouts input[type="email"], textarea {
    font-size: 13px;
    background: rgba(251, 251, 252, 0.11);
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #38383a;
	color: #000;
}
p.head-w3-agileits {
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 25px;
    margin: 20px 0;
}
.contact-right-w3layouts {
    float: left;
    width: 65%;
}
textarea {
    outline: none;
    resize: none;
    height: 100px;
}
.contact-right-w3layouts input[type="submit"] {
    background: #f8b239;
    color: #fff;
    padding: 8px 45px;
    font-size: 15px;
    text-transform: capitalize;
    border: none;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact-right-w3layouts input[type="submit"]:hover{
	background: #1ca0de;
	 transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--//contact inner--*/
/*-- typography --*/
h3.hdg {
    font-size: 2.5em;
	color:#000 !important;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #555;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
  -webkit-border-radius:4px;
    -o-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  -webkit-border-radius: 0 2px 2px 2px;
    -o-border-radius: 0 2px 2px 2px;
    -moz-border-radius: 0 2px 2px 2px;
    -ms-border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #555;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:900px){
	h3.hdg {
		font-size: 1.7em;
	}
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:667px){
	.bs-glyphicons li {
		width: 23%!important;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
}
@media (max-width:600px){
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: 0.5em;
	}
	h3.hdg {
		font-size: 1.5em;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 384px){
	h3.hdg {
		font-size: 1.3em;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 12px!important;
	}
	.codes .row {
		margin: 0;
	}
}


.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #212121;
    font-weight: bold;
}
/*-- //typography --*/
/*-- icons --*/
.icon-w3layouts-subheading{
    margin-top: 0!important;
}
.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background: rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons li .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #282a2b;
}
.icons a {
    color: #999;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icon-box:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.icon-box:hover a.agile-icon {
    color: #fff !important;
}
.icon-box:hover i.fa {
    color: #fff !important;
}
.row {
	margin:0
}
@media (max-width: 1080px){
	.icon-box {
		width: 33.3%;
		float: left;
	}
}
@media (max-width: 991px){
	.icon-box {
		width: 50%;
		float: left;
		margin: 1em 0 0em 0;
	}
}
@media (max-width: 480px){
	.icon-box {
		width: 100%;
		float: none;
		margin: .5em 0 0em 0;
	}
	.bs-glyphicons li {
		width: 31.3%!important;
	}
}
@media (max-width: 414px){
	.bs-glyphicons li {
		width: 48%!important;
	}
}
/*-- //icons --*/
/*--//inner pages--*/
/*--footer--*/
.contact-w3ls {
    background: #0177b5;
    position: relative;
    padding-top: 0!important;
    margin-top: 6.3em;
}
.contact-w3ls:before {
    content: "";
    position: absolute;
    top: -106px;
    border-width: 0 882px 106px 0;
    border-style: solid;
    border-color: transparent transparent #f8b239 #f8b239;
    display: block;
    width: 0;
}
.contact-w3ls:after {
    content: "";
    position: absolute;
    top: -120px;
    right: 0;
    border-width: 0px 1904px 120px 0;
    border-style: solid;
    border-color: transparent transparent #0177b5 #0177b5;
    display: block;
    transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
    width: 0;
}
ul.w3_address li {
    display: block;
    color: #ffffff;
    letter-spacing: .5px;
    font-size: 14px;
    margin-bottom: 31px;
    list-style: none;
    width: 25%;
    float: left;
	font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
ul.w3_address li span {
    margin-top: 10px;
    display: inline-block;
    float: left;
    width: 70%;
	line-height: 28px;
}
ul.w3_address li span a {
	text-decoration:none;
	color:#fff;
	font-weight: 500;
}
ul.w3_address li span a:hover{
	text-decoration:none;
	color:#f8b239;
}
ul.w3_address li i {
    font-size: 1.8em;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    width: 75px;
    height: 75px;
    float: left;
    padding-top: 23px;
    margin-right: 10px;
    border-radius: 50px;
	-webkit-border-radius: 50px;
    -o-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border: 2px solid #fff;
}
ul.w3_address li:nth-child(4) span {
	margin-top: 22px;
    padding-left: 5px;
}
ul.banner-menu-w3layouts {
    float: left;
    margin-top: 6px;
}
ul.banner-menu-w3layouts li {
    list-style: none;
    display: inline-block;
    padding-right: 33px;
    float: left;
}
ul.banner-menu-w3layouts li a {
    color: #000;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 600;
}
ul.banner-menu-w3layouts li a:hover {
    color: #fff;
}
/*--Social Icons--*/
.copy .agileits_social_list{
	float:left;
}
.agileits_social_list li{
	display:inline-block;
}
.agileits_social_list li a {
    width: 30px;
    height: 30px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border: 2px solid #ffffff;
    border-radius: 50px;
	-webkit-border-radius: 50px;
    -o-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
}
.agileits_social_list li a i{
	line-height:2.4em;
}
.agileits_social_list li a:hover{
	color:#fff;
}
a.w3_agile_facebook:hover{
	background:#3b5998;
	border-color:#3b5998;
}
a.agile_twitter:hover{
	background:#1da1f2;
	border-color:#1da1f2;
}
a.w3_agile_dribble:hover{
	background:#ea4c89;
	border-color:#ea4c89;
}
a.w3_agile_vimeo:hover{
	background:#1ab7ea;
	border-color:#1ab7ea;
}
/*--//Social Icons--*/
/*--//footer--*/
/*--copy-right--*/
.copy {
    text-align: center;
    padding: 2.5em 0em 0;
    margin-top: 1em;
    border-top: 2px solid rgba(2, 87, 132, 0.68);
}
.copy p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    display: inline-block;
    float: right;
    font-weight: 500;
    margin-top: 8px;
}
.copy p a {
    color: #000;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.copy p a:hover{
	color:#fff;
	text-decoration:none;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--//copy-right--*/
/*--//footer--*/
/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/arr.png) no-repeat 0px 0px;
}
#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*--responsive--*/
@media(max-width:1680px){
	.contact-w3ls:after {
		border-width: 0px 1674px 120px 0;
	}
}
@media(max-width:1440px){
	.banner {
		min-height: 700px;
	}	
	.banner-text {
		margin: 7.5em auto 0;
	}
	.agileits_portfolio_sub_grid .w3layouts_port_head {
		top: 53%;
	}
}
@media(max-width:1366px){
	.events-agileits-w3layouts, .testimonials, .stats-agileits, .about-agileits, .team, .portfolio, .contact-w3ls, .inner-padding {
		padding: 4em 0em;
	}
	.heading-agileinfo {
		font-size: 32px;
		margin-bottom: 1.6em;
	}
	.heading-agileinfo span {
		font-size: 15px!important;
		margin-top: 0.6em;
		letter-spacing: 3px;
	}
	.about-agileits p {
		font-size: 16px;
	}
	.banner-text h3 {
		font-size: 18px;
		line-height: 38px;
	}
	.banner-text h4 {
		font-size: 37px;
	}
	.banner-text p {
		margin-top: 14px;
		font-size: 14px;
	}
	.more-button a {
		margin-top: 1.5em;
	}
	.callbacks_tabs {
		top: 81%;
	}
	.inner-banner-w3l {
		min-height: 290px!important;
	}
	.agileinfo_services_grid1 p {
		font-size: 15px;
	}
	.about-bott-right p {
		font-size: 16px;
	}
}
@media(max-width:1280px){
	.navbar-default .navbar-brand {
		font-size: 36px;
		padding: 33px 30px 33px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 11.5px;
		padding: 16px 30px 16px;
	}
	.dropdown-menu > li > a {
		font-size: 11.5px;
	}
	.cl-effect-13 ul li a::before {
		top: 42%;
	}
	.contact-bnr-w3-agile ul li {
		padding: 13px 28px;
	}
	.navbar-nav, .header-top {
		padding-left: 21em;
	}
	.banner-text {
		padding: 2em;
	}
	.banner {
		min-height: 600px;
	}
	.banner-text {
		margin: 7em auto 0;
	}
	.numscroller {
		font-size: 35px;
	}
	.stats-grid h4 {
		font-size: 18px;
		margin-top: 0.6em;
	}
	.agile_team_grid h4 {
		font-size: 1.2em;
	}
	.agile_team_grid p {
		font-size: 14px;
	}
	i.fa.fa-graduation-cap {
		font-size: 31px;
		left: 11px;
		top: 24px;
	}
}
@media(max-width:1080px){
	.banner-text h3 {
		font-size: 15px;
		line-height: 36px;
	}
	.banner-text h4 {
		font-size: 30px;
	}
	.banner {
		min-height: 505px;
	}
	.banner-text {
		margin: 4.5em auto 0;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 16px 25px 16px;
	}
	.callbacks_tabs a:after {
		width: 12px;
		height: 12px;
		border: 3px solid #0177b5;
	}
	.callbacks_here a:after{
		background: #f8b239;
		border: none;
		height: 3px;
		width: 30px;
	}
	.callbacks_tabs {
		top: 80%;
		right: 27%;
	}
	.w3ls_banner_bottom_grids {
		margin: 1.5em 0 0;
	}
	.detail-bottom ul li i {
		font-size: 18px;
		padding: 0 6px;
	}
	.popular-grid h5 a {
		font-size: 1.4em;
	}
	.laptop {
		padding: 1.5em 1.5em;
		margin: 0 7px;
	}
	.nbs-flexisel-nav-right {
		right: 45.5%;
	}
	.nbs-flexisel-nav-left {
		left: 45.7%;
	}
	.contact-w3ls:after {
		top: -95px;
		border-width: 0px 1585px 95px 0;
	}
	.contact-w3ls:before {
		top: -96px;
		border-width: 0 800px 66px 0;
	}
	.contact-w3ls {
		margin-top: 5.5em;
	}
	.copy .agileits_social_list {
		float: right;
	}
	.copy {
		padding: 2em 11em 0;
	}
	.copy p {
		float: none;
		margin-top: 20px;
	}
	ul.w3_address li i {
		font-size: 1.6em;
		width: 55px;
		height: 55px;
		padding-top: 15px;
	}
	ul.w3_address li span {
		margin-top: 0px;
	}
	ul.w3_address li:nth-child(4) span {
		margin-top: 13px;
	}
	.inner-banner-w3l {
		min-height: 250px!important;
	}
	.view, .view .mask, .view .content {
		width: 220px;
		height: 256px;
	}
	.view h5 {
		font-size: 1.3em;
	}
	.agileinfo_services_grid1 {
		padding: 1.5em;
	}
	.agileinfo_services_grid1 h4 {
		margin: 0.7em 0 0.3em;
	}
	.agileinfo_services_grid1 i {
		font-size: 2.2em;
	}
	.contact-w3-agileits img {
		width: 31%;
	}
	h5.title-w3 {
		font-size: 21px;
	}
	.contact-w3-agileits {
		margin-bottom: 1.5em;
	}
}
@media(max-width:1050px){
	.cbp-ig-icon:before {
		font-size: 3.5em;
	}
	.cbp-ig-grid .cbp-ig-title:before {
		height: 4px;
	}
	.heading-agileinfo {
		font-size: 30px;
		margin-bottom: 1.6em;
	}
	.events-agileits-w3layouts, .testimonials, .stats-agileits, .about-agileits, .team, .portfolio, .contact-w3ls, .inner-padding {
		padding: 3em 0em;
	}
	.contact-w3ls:after {
		top: -79px;
		border-width: 0px 1585px 79px 0;
	}
	.contact-w3ls:before {
		top: -80px;
		border-width: 0 930px 62px 0;
	}
	.contact-w3ls {
		margin-top: 4.7em;
	}
	.copy p {
		font-size: 13px;
	}
	.team-right h5 {
		font-size: 14.4px;
		letter-spacing: 0.6px;
	}
	.about-bott-right h5 {
		font-size: 23px;
	}
}
@media(max-width:1024px){
	.colorful-tab-menu-item a {
		font-size: 17px;
		letter-spacing: 1px;
	}
	.detail-bottom ul li i {
		font-size: 16px;
		padding: 0px 5px;
	}
	.contact-w3ls:after {
		border-width: 0px 1020px 79px 0;
	}
	.contact-w3ls:before {
		top: -62px;
	}
}
@media(max-width:991px){
	.navbar-default .navbar-brand {
		font-size: 32px;
		left: 1.3em;
	}
	i.fa.fa-graduation-cap {
		font-size: 27px;
		left: 14px;
		top: 26px;
	}
	.navbar-nav, .header-top {
		padding-left: 17em;
	}
	.banner-text {
		width: 55%;
	}
	.callbacks_tabs {
		top: 79.5%;
		right: 34%;
	}
	.agileits_banner_bottom {
		width: 95%;
	}
	.cbp-ig-grid li:nth-child(1),.cbp-ig-grid li:nth-child(2) {
		border-bottom: 1px solid rgb(161, 225, 249);
	}
	.cbp-ig-grid li:nth-child(2) {
		border-right: 1px solid rgb(161, 225, 249);
	}
	.stats-grid {
		width: 50%;
		float: left;
		text-align: center;
	}
	.stats-grid:nth-child(1),.stats-grid:nth-child(2){
		margin-bottom:2em;
	}
	.popular-grid {
		width: 50%;
		float: left;
	}
	.popular-grid img {
		width: 100%;
	}
	.team-left {
		padding: 0;
		float: right;
		width: 30%;
	}
	.team-right {
		float:left;
		width:67%;
	}
	.nbs-flexisel-nav-left {
		left: 42.5%;
	}
	.name-w3ls {
		margin-top: 1.5em;
	}
	.team-right p {
		font-size: 13.5px;
		margin-top: 0.6em;
		letter-spacing: 0.88px;
	}
	.flex-slider {
		margin: 0px auto 58px;
	}
	.laptop {
		padding: 2em 2em;
		margin: 0 50px;
	}
	.nbs-flexisel-nav-right {
		right: 44.5%;
	}
	ul.w3_address {
		width: 80%;
		margin: 0 auto;
	}
	ul.w3_address li {
		width: 50%;
	}
	.copy {
		padding: 2em 3em 0;
	}
	#toTop {
		background-size: 27px;
	}
	.view, .view .mask, .view .content {
		width: 330px;
		height: 270px;
	}
	.agile_team_grid {
		width: 50%;
		float: left;
	}
	.view h5 {
		margin: 3.5em 0 .5em;
	}
	.agile_team_grid:nth-child(1), .agile_team_grid:nth-child(2) {
		margin-bottom: 2em;
	}
	.agileinfo_services_grid:nth-child(7), .agileinfo_services_grid:nth-child(5), .agileinfo_services_grid:nth-child(6), .agileinfo_services_grid:nth-child(4) {
		margin: 1em 0 0;
	}
	.agileinfo_services_grid {
		width: 50%;
		float: left;
	}
	.agileinfo_portfolio_grid {
		float: left;
		width: 33.33%;
		padding:0 .5em;
	}
	.w3_agile_portfolio_grid1{
		margin-top:1em;
	}
	.contact-left-w3layouts {
		float: none;
		width: 100%;
	}
	.contact-w3-agileits {
		margin-bottom: 1.5em;
		width: 50%;
		float: left;
	}
	p.head-w3-agileits {
		font-size: 13px;
		letter-spacing: 0.8px;
		line-height: 23px;
		margin: 10px 0 20px;
	}
	h5.title-w3 {
		font-size: 19px;
		margin-top: 1em;
	}
	.contact-right-w3layouts {
		float: left;
		width: 100%;
	}
	.inner-banner-w3l {
		min-height: 230px!important;
	}
	.contact-w3ls:after {
		border-width: 0px 986px 79px 0;
	}
	.contact-w3ls:before {
		top: -62px;
		border-width: 0 930px 62px 0;
	}
}
@media(max-width:900px){
	.navbar-default .navbar-nav > li > a {
		padding: 16px 20px 16px;
	}
	.contact-bnr-w3-agile ul li {
		padding: 13px 20px;
		font-size: 15px;
	}
	.contact-bnr-w3-agile ul li a {
		font-size: 14px;
	}
	.banner-text h3 {
		font-size: 13px;
		line-height: 35px;
		letter-spacing: 3px;
	}
	.banner-text h4 {
		font-size: 25px;
	}
	.banner-text p {
		margin-top: 11px;
		font-size: 13px;
		line-height: 25px;
		letter-spacing: 1.5px;
	}
	.more-button a {
		padding: 8px 25px;
		font-size: 13px;
		letter-spacing: .8px;
	}
	.banner {
		min-height: 400px;
	}
	.banner-text {
		margin: 2.5em auto 0;
		padding: 1em 1.5em 1.5em;
	}
	.callbacks_tabs {
		top: 76.5%;
	}
	.heading-agileinfo span {
		font-size: 14px!important;
		margin-top: 0.5em;
		letter-spacing: 2px;
	}
	.heading-agileinfo {
		font-size: 28px;
		margin-bottom: 1.2em;
	}
	.events-agileits-w3layouts, .testimonials, .stats-agileits, .about-agileits, .team, .portfolio, .contact-w3ls, .inner-padding {
		padding: 2.3em 0em;
	}
	.heading-agileinfo span:after {
		width: 53px;
		top: 127%;
	}
	.stats-grid h4 {
		font-size: 16px;
	}
	.contact-w3ls {
		margin-top: 3.9em;
	}
	.contact-w3ls:before {
		top: -62px;
		border-width: 0 723px 62px 0;
	}
	.agileinfo_services_grid1 h4 {
		font-size: 1.2em;
	}
	.inner-banner-w3l {
		min-height: 200px!important;
	}
	.agileinfo_services_grid1 p {
		font-size: 14px;
	}
	.contact-right-w3layouts input[type="submit"] {
		padding: 8px 30px;
		letter-spacing: .8px;
		font-size: 14px;
	}
	.right-contact-w3ls a ,p.number-w3,.agileinfo_services_grid1 p{
		font-size: 13.5px;
		letter-spacing: .5px;
	}
	.modal-content p {
		font-size: 13px;
	}
	.about-agileits p {
		font-size: 14px;
		font-weight: 500;
	}
	.cbp-ig-grid .cbp-ig-title {
		font-size: 0.9em;
	}
	.cbp-ig-grid .cbp-ig-category {
		font-size: 0.9em;
	}
	.popular-grid p {
		font-size: 13.5px;
	}
	.team-right p, .colorful-tab-content p, .colorful-tab-content ul li {
		font-size: 13.5px;
		letter-spacing: .5px;
	}
	.colorful-tab-menu-item a {
		font-size: 16px;
	}
	.about-agile p {
		font-size: 0.9em;
	}
	ul.w3_address li {
		font-size: 13.5px;
	}
	ul.w3_address li i {
		font-size: 1.4em;
		padding-top: 17px;
	}
	ul.banner-menu-w3layouts li a {
		font-size: 13.5px;
	}
	.about-bott-right p {
		font-size: 14px;
		font-weight: 500;
	}
}
@media(max-width:800px){
	.navbar-default .navbar-brand {
		font-size: 29px;
		left: 1em;
	}
	i.fa.fa-graduation-cap {
		font-size: 25px;
		left: 16px;
		top: 27px;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 16px 15px 16px;
		font-size: 11px;
	}
	.navbar-nav, .header-top {
		padding-left: 15.5em;
	}
	.dropdown-menu > li > a {
		font-size: 11px;
	}
	.view, .view .mask, .view .content {
		width: 300px;
	}
	.view h5 {
		margin: 3em 0 .5em;
	}
	.cl-effect-13 ul li a:hover::before, .cl-effect-13 ul li a:focus::before, ul.nav.navbar-nav li a.active::before {
		color: #fff;
		text-shadow: 8px 0 #fff, -8px 0 #fff;
	}
	.about-bott-right {
		padding: 2em 1.7em;
	}
	.contact-w3ls:after {
		border-width: 0px 802px 79px 0;
	}
}
@media(max-width:768px){
	.navbar-default .navbar-nav > li > a {
		padding: 16px 14px 16px;
		letter-spacing: 1.5px;
	}
	.contact-w3ls:after {
		top: -63px;
		border-width: 0px 826px 63px 0;
	}
	.contact-w3ls:before {
		top: -53px;
		border-width: 0 490px 47px 0;
	}
	.contact-w3ls {
		margin-top: 3.5em;
	}
	ul.w3_address li {
		margin-bottom: 25px;
	}
	.copy {
		padding: 1.8em 3em 0;
		margin-top: 0.5em;
	}
}
@media(max-width:767px){
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-toggle {
		margin: .85em 1.5em 0 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 100%;
		background: rgba(0, 0, 0, 0.91);
		z-index: 999;
	}
	.navbar-nav > li > a {
		margin-bottom: 5px;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 10px 14px 6px;
		letter-spacing: 1.5px;
	}
	.navbar-nav {
		margin: 0;
		text-align: center;
		padding-left: 0;
		width: 100%;
		padding: 1em 0;
	}
	.navbar-nav .open .dropdown-menu {
		width: 100%;
		text-align: center;
		margin: 0 auto;
		background-color: transparent;
		border-radius: 0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #f8b239;
	}
	.navbar-header.logo {
		float: right;
	}
	.navbar-default .navbar-brand {
		font-size: 27px;
		padding: 20px 25px 20px;
	}
	i.fa.fa-graduation-cap {
		font-size: 21px;
		left: 13px;
		top: 16px;
	}
	.header-top {
		padding-left: 14em;
	}
	.contact-bnr-w3-agile ul li {
		padding: 20px 20px;
	}
	.callbacks_tabs {
		z-index: 99;
	}
	.dropdown-menu li a:before{
		display:block!important;
	}
	.dropdown-menu li a{
		position:relative;
	}
	.dropdown-menu li a:before{
		position:absolute;
		top: 50%;
		left: 50%;
		color: transparent;
		content: '.';
		text-shadow: 0 0 transparent;
	}
	.banner {
		min-height: 358px;
	}
	.inner-banner-w3l {
		min-height: 175px!important;
	}
	.header-top {
		background: rgba(255, 255, 255, 0.12);
	}
}
@media(max-width:736px){
	
}
@media(max-width:667px){
	.contact-bnr-w3-agile ul li {
		padding: 20px 12px;
	}
	.copy {
		padding: 1.8em 1em 0;
	}
	.contact-bnr-w3-agile ul li i {
		margin-right: 7px;
	}
	.callbacks_tabs {
		right: 32%;
	}
}
@media(max-width:640px){
	.contact-bnr-w3-agile ul li {
		padding: 20px 7px;
	}
	.numscroller {
		font-size: 31px;
	}
	.stats-grid h4 {
		font-size: 14px;
		letter-spacing: 0.5px;
	}
	.heading-agileinfo {
		font-size: 25px;
		margin-bottom: 1.2em;
	}
	.popular-grid h5 a {
		font-size: 1.3em;
		letter-spacing: .5px;
	}
	.team-left {
		width: 33%;
	}
	ul.banner-menu-w3layouts li {
		padding-right: 29px;
	}
	.view, .view .mask, .view .content {
		width: 267px;
	}
	.contact-w3-agileits img {
		width: 35%;
	}
	.right-contact-w3ls {
		padding: 5px 0px 0px 15px;
	}
	.laptop {
		margin: 0 20px;
	}
	.about-bott-right h5 {
		font-size: 20px;
	}
}
@media(max-width:600px){
	.contact-bnr-w3-agile ul li {
		font-size: 13.5px;
	}
	.contact-bnr-w3-agile ul li a {
		font-size: 13px;
	}
	.navbar-default .navbar-brand {
		left: 0.7em;
	}
	.navbar-toggle {
		margin: .85em 1em 0 0;
	}
	.contact-bnr-w3-agile ul li {
		padding: 20px 5px;
	}
	.banner-text h3 {
		font-size: 11px;
		line-height: 31px;
		letter-spacing: 2.5px;
	}
	.banner-text h4 {
		font-size: 22px;
	}
	.banner-text {
		width: 65%;
		margin: 1.5em auto 0;
	}
	.callbacks_tabs {
		right: 40%;
	}
	.banner {
		min-height: 317px;
	}
	.name-w3ls {
		margin-top: 1em;
	}
	ul.banner-menu-w3layouts li {
		padding-right: 22px;
	}
	.view, .view .mask, .view .content {
		width: 247px;
	}
	.contact-w3-agileits {
		width: 100%;
		float: none;
	}
	.contact-w3-agileits img {
		width: 105px;
	}
	.inner-banner-w3l {
		min-height: 140px!important;
	}
}
@media(max-width:568px){
	.contact-bnr-w3-agile ul li:nth-child(1) {
		padding: 15px 5px 0!important;
	}
	.navbar-default .navbar-brand {
		padding: 20px 25px 21px;
	}
	.contact-bnr-w3-agile ul li:nth-child(2) {
		padding: 11px 5px 12px!important;
	}
	.navbar-toggle {
		margin: 1.45em 1em 0 0;
	}
	.banner-text p {
		margin-top: 6px;
		line-height: 23px;
	}
	.more-button a {
		margin-top: 1.2em;
	}
	.callbacks_tabs {
		right: 38.5%;
		top: 74.5%;
	}
	.laptop {
		margin: 0 0px;
	}
	.nbs-flexisel-nav-right {
		right: 43.5%;
	}
	ul.w3_address li {
		width: 100%;
	}
	ul.banner-menu-w3layouts {
		float: none;
		margin-top: 0;
	}
	ul.banner-menu-w3layouts li {
		float: none;
	}
	.copy .agileits_social_list {
		float: none;
		margin-top: 20px;
	}
	.copy p {
		margin-top: 13px;
		line-height: 30px;
	}
	.view, .view .mask, .view .content {
		width: 232px;
	}
	.agile_team_grid h4 {
		font-size: 1.05em;
	}
	ul.w3_address li {
		font-size: 13px;
	}
	ul.banner-menu-w3layouts li a {
		font-size: 13px;
	}
	.contact-page-w3ls iframe {
		height: 15em;
	}
	ul.w3_address li:nth-child(4) span {
		padding-left: 1px;
	}
}
@media(max-width:480px){
	.banner-text {
		width: 85%;
		margin: 1.5em auto 0;
	}
	.heading-agileinfo {
		font-size: 23px;
	}
	.events-agileits-w3layouts, .testimonials, .stats-agileits, .about-agileits, .team, .portfolio, .contact-w3ls, .inner-padding {
		padding: 2em 0em;
	}
	.heading-agileinfo span:after {
		right: 45%;
	}
	.popular-grid {
		width: 100%;
		float: none;
	}
	.laptop {
		padding: 1.3em 1.3em;
	}
	.nbs-flexisel-nav-left {
		left: 40.5%;
	}
	.nbs-flexisel-nav-right {
		right: 42.5%;
	}
	.heading-agileinfo span {
		letter-spacing: 0.5px;
	}
	.contact-w3ls:after {
		top: -43px;
		border-width: 0px 463px 43px 0;
	}
	.contact-w3ls:before {
		top: -37px;
		border-width: 0 410px 37px 0;
	}
	.contact-w3ls {
		margin-top: 2.5em;
	}
	.agile_team_grid {
		width: 100%;
	}
	.agile_team_grid:nth-child(1), .agile_team_grid:nth-child(2), .agile_team_grid:nth-child(3) {
		margin-bottom: 1.5em;
	}
	.agile_team_grids{
		margin:0em auto;
		width:61%;
	}
	.agileinfo_services_grid {
		width: 100%;
		float: none;
	}
	.agileinfo_services_grid:nth-child(3){
		margin: 1em 0 0;
	}
	.agileinfo_portfolio_grid {
		float: none;
		width: 100%;
		padding: 0 1em;
	}
	.agileinfo_portfolio_grid .w3_agile_portfolio_grid1:nth-child(1) {
		margin-top: 1em!important;
	}
	h5.title-w3 {
		font-size: 17px;
		margin-top: .8em;
	}
	.right-contact-w3ls h6 {	
		font-size: 14px;
	}
	p.work-w3 {
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 1px;
	}
	.modal-content h5 {
		font-size: 19px;
		padding: 15px 0 0;
	}
	.contact-w3ls:before {
		top: -37px;
		border-width: 0 315px 37px 0;
	}
	.agile_team_grid p {
		font-size: 13px;
	}
}
@media(max-width:440px){
	.header-top {
		padding-left: 12.3em;
	}
	.navbar-default .navbar-brand {
		padding: 22px 17px 22px 23px;
		font-size: 25px;
	}
	i.fa.fa-graduation-cap {
		font-size: 20px;
		left: 12px;
	}
	.cbp-ig-grid li {
		width: 100%;
		float: none;
	}
	.cbp-ig-grid li {
		border-left: none;
	}
	.cbp-ig-grid li:last-child {
		border-right: none;
		border-top: 1px solid rgb(161, 225, 249);
	}
	.cbp-ig-grid li:nth-child(2) {
		border-right: none;
	}
	.heading-agileinfo {
		margin-bottom: 1em;
		line-height: 30px;
	}
	.stats-grid {
		width: 100%;
		float: none;
	}
	.stats-grid:nth-child(1), .stats-grid:nth-child(2) , .stats-grid:nth-child(3) {
		margin-bottom: 1.5em!important;
	}
	.nbs-flexisel-nav-right {
		right: 40.5%;
	}
	ul.banner-menu-w3layouts li {
		padding-right: 15px;
	}
	.copy p {
		letter-spacing: 1px;
	}
	.agile_team_grids {
		width: 67%;
	}
	.callbacks_tabs {
		right: 48.5%;
	}
	.heading-agileinfo span {
		line-height: 25px!important;
	}
	.heading-agileinfo span:after {
		right: 44%;
		top: 110%;
	}
}
@media(max-width:414px){
	.navbar-default .navbar-brand {
		padding: 22px 34px 22px 41px;
		left: 3.8em;
	}
	.header-top {
		padding-left: 0;
	}
	.contact-bnr-w3-agile ul li:nth-child(1) {
		padding: 92px 45px 0!important;
	}
	.contact-bnr-w3-agile ul li:nth-child(2) {
		padding: 11px 45px 12px!important;
	}
	.navbar-toggle {
		margin: 6.2em 2em 0 0;
	}
	.banner-text h4 {
		font-size: 19px;
	}
	.banner-text {
		width: 99%;
		margin: 1em auto 0;
	}
	.banner {
		min-height: 379px;
	}
	i.fa.fa-graduation-cap {
		left: 30px;
		top: 17px;
	}
	.heading-agileinfo {
		line-height: 30px;
		margin-bottom: 1.5em;
	}
	.nbs-flexisel-nav-left {
		left: 39.5%;
		top: 105% !important;
	}
	.nbs-flexisel-nav-right {
		right: 37.5%;
		top: 105% !important;
	}
	.team-right {
		float: none;
		width: 100%;
		padding: 0;
		padding-bottom: 1em;
	}
	.team-left {
		width: 47%;
		float: none;
	}
	ul.w3_address {
		width: 100%;
	}
	ul.w3_address li {
		margin-bottom: 16px;
	}
	.copy {
		padding: 1.1em 0.5em 0;
	}
	ul.banner-menu-w3layouts li {
		padding-right: 13px;
	}
	.agile_team_grids {
		width: 72%;
	}
	.callbacks_tabs {
		right: 59.5%;
		top: 72.5%;
	}
	.about-bott-right h5 {
		margin-bottom: 0.5em;
	}
}
@media(max-width:384px){
	ul.banner-menu-w3layouts li {
		padding-right: 0;
		display: block;
		padding: 7px 0;
	}
	.copy .agileits_social_list {
		margin-top: 12px;
	}
	.copy {
		padding: .8em 0em 0;
	}
	.agile_team_grids {
		width: 78%;
	}
	.events-agileits-w3layouts, .testimonials, .stats-agileits, .about-agileits, .team, .portfolio, .contact-w3ls, .inner-padding {
		padding: 1.2em 0em;
	}
	.heading-agileinfo {
		margin-bottom: 1.1em;
	}
	.agileinfo_services_grid1 h4 {
		font-size: 1.1em;
	}
	.contact-w3ls:after {
		top: -38px;
		border-width: 0px 390px 38px 0;
	}
	.contact-w3ls:before {
		top: -31px;
		border-width: 0 315px 29px 0;
	}
	.contact-w3ls {
		margin-top: 2.3em;
	}
	.callbacks_tabs {
		right: 57.5%;
	}
	.w3ls_banner_bottom_grids {
		margin: 1em 0 0;
	}
	.navbar-default .navbar-brand {
		padding: 17px 30px 18px 30px;
		left: 3.5em;
	}
	i.fa.fa-graduation-cap {
		left: 19px;
		top: 12px;
	}
	.contact-bnr-w3-agile ul li:nth-child(1) {
		padding: 81px 35px 0!important;
	}
	.contact-bnr-w3-agile ul li:nth-child(2) {
		padding: 11px 35px 12px!important;
	}
	.navbar-toggle {
		margin: 5.7em 2em 0 0;
	}
	.banner {
		min-height: 370px;
	}
	.about-bott-right {
		padding: 1.5em 1.7em;
	}
}
@media(max-width:375px){
	.colorful-tab-menu-item a {
		font-size: 15px;
	}
	.agile_team_grids {
		width: 80%;
	}
}
@media(max-width:320px){
	.navbar-default .navbar-brand {
		left: 2.3em;
	}
	.banner-text {
		width: 100%;
		margin: 1em auto 0;
		padding: .7em 1em 1em;
	}
	.banner-text p {
		margin-top: 12px;
		letter-spacing:.92px;
	}
	.banner {
		min-height: 360px;
	}
	.more-button a {
		padding: 6px 21px;
	}
	.callbacks_tabs {
		right: 52%;
		top: 74.5%;
	}
	.contact-w3ls:before {
		border-width: 0 290px 29px 0;
	}
	.nbs-flexisel-nav-left {
		left: 36.5%;
	}
	.nbs-flexisel-nav-right {
		right: 36.5%;
	}
	.agile_team_grids {
		width: 96%;
	}
	.contact-w3-agileits img {
		width: 98px;
	}
	.right-contact-w3ls {
		padding: 5px 0px 0px 11px;
		width: 64%;
	}
	h5.title-w3 {
		font-size: 15px;
		margin-top: .8em;
		letter-spacing: 1px;
	}
	.contact-bnr-w3-agile ul li:nth-child(1) {
		padding: 81px 21px 0!important;
	}
	.contact-bnr-w3-agile ul li:nth-child(2) {
		padding: 11px 21px 12px!important;
	}
	.navbar-toggle {
		margin: 5.6em 1.2em 0 0;
	}
	i.fa.fa-graduation-cap {
		left: 20px;
		top: 13px;
		font-size: 19px;
	}
	.contact-w3ls:after {
		top: -34px;
		border-width: 0px 314px 34px 0;
	}
	.contact-w3ls:before {
		top: -30px;
	}
}
/*--responsive--*/

/*--latest--*/
#courses .center-btn {
    text-align: center;
    margin-top: 40px;
  }
  .main-button {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background-color: #FF6700;
    border: 2px solid transparent;
    border-radius: 40px;
    color: #FFF;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

  nav.sidebar.navbar {
    border-radius: 0px;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  /* Add gap to nav and right windows.*/
  .main{
    padding: 10px 10px 0 10px;
  }

  /* .....NavBar: Icon only with coloring/layout.....*/

  /*small/medium side display*/
  @media (min-width: 768px) {

    /*Allow main to be next to Nav*/
   /*Allow main to be next to Nav*/
    .main{
      position: absolute;
      width: calc(100% - 40px); /*keeps 100% minus nav size*/
      margin-left: 40px;
      float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }

      /*Center Icons*/
    nav.sidebar a{
      padding-right: 13px;
    }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

      /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    /*gives sidebar width/height*/
    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      z-index: 8000;
      margin-bottom: 0px;
    }

    /*give sidebar 100% width;*/
    nav.sidebar li {
      width: 100%;
    }

    /* Move nav to full on mouse over*/
    nav.sidebar:hover{
      margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/

      .forAnimate{
      opacity: 0;
    }
  }

  /* .....NavBar: Fully showing nav bar..... */

  @media (min-width: 1330px) {

    /*Allow main to be next to Nav*/
    .main{
      width: calc(100% - 200px); /*keeps 100% minus nav size*/
      margin-left: 200px;
    }

    /*Show all nav*/
    nav.sidebar{
      margin-left: 0px;
      float: left;
    }
    /*Show hidden items on nav*/
    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }
    nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
